<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.koolcloud.sdk.fmsc"
    android:versionCode="9"
    android:versionName="1.1.4_09162015016P">

    <uses-sdk
        android:minSdkVersion="15"
        android:targetSdkVersion="15" />

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.WRITE_SETTINGS" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_DOWNLOAD_MANAGER" />
    <uses-permission android:name="android.permission.DOWNLOAD_WITHOUT_NOTIFICATION" />
    <uses-permission android:name="android.permission.DISABLE_KEYGUARD" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />

    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.CYNOVO_DRIVER" />
    <uses-permission android:name="android.permission.KOOLCLOUD_MSR" />
    <uses-permission android:name="android.permission.KOOLCLOUD_PRINTER" />
    <uses-permission android:name="android.permission.KOOLCLOUD_SMARTCARD" />
    <uses-permission android:name="android.permission.KOOLCLOUD_CONTACTLESS_CARD" />
    <uses-permission android:name="android.permission.KOOLCLOUD_PINPAD" />
    <uses-permission android:name="android.permission.KOOLCLOUD_PIN_GET_PIN_BLOCK" />
    <uses-permission android:name="android.permission.KOOLCLOUD_PIN_MAC" />
    <uses-permission android:name="android.permission.KOOLCLOUD_PIN_ENCRYPT_DATA" />
    <uses-permission android:name="android.permission.KOOLCLOUD_PIN_UPDATE_MASTER_KEY" />
    <uses-permission android:name="android.permission.KOOLCLOUD_PIN_UPDATE_USER_KEY" />
    <uses-permission android:name="android.permission.KOOLCLOUD_LED" />
    <uses-permission android:name="android.permission.KOOLCLOUD_SAFE_MODULE" />
    <uses-permission android:name="android.permission.FLASHLIGHT" />

    <application
        android:name=".App"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme">
        <!--<activity
            android:name=".ui.login.LoginActivity"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>-->

        <receiver
            android:name="com.koolcloud.sdk.fmsc.receiver.FMSCReceiver"
            android:label="FMSCReceiver">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
                <action android:name="android.net.conn.CONNECTIVITY_CHANGE" />
            </intent-filter>
        </receiver>

        <receiver
            android:name="com.koolcloud.sdk.fmsc.receiver.AppBroadcastReceiver"
            android:enabled="true">
            <intent-filter>
                <action android:name="android.intent.action.PACKAGE_ADDED" />
                <action android:name="android.intent.action.PACKAGE_CHANGED" />
                <action android:name="android.intent.action.PACKAGE_REMOVED" />
                <action android:name="android.intent.action.PACKAGE_REPLACED" />
                <action android:name="android.intent.action.PACKAGE_RESTARTED" />
                <data android:scheme="package" />
            </intent-filter>
        </receiver>

        <!-- service -->
        <service
            android:name="com.koolcloud.sdk.fmsc.service.device.DeviceService"
            android:exported="true"
            android:process=":remote">
            <intent-filter>
                <action android:name="com.koolcloud.sdk.fmsc.service.IDevicesInterface" />
            </intent-filter>
        </service>
        <service
            android:name="com.koolcloud.sdk.fmsc.service.transaction.TransactionService"
            android:exported="true"
            android:process=":remote">
            <intent-filter>
                <action android:name="com.koolcloud.sdk.fmsc.service.ITransactionInterface" />
            </intent-filter>
        </service>
        <service
            android:name="com.koolcloud.sdk.fmsc.service.apmp.FapmpService"
            android:exported="true"
            android:process=":remote">
            <intent-filter>
                <action android:name="com.koolcloud.sdk.fmsc.service.IApmpInterface" />
            </intent-filter>
        </service>

        <provider
            android:name="com.koolcloud.sdk.fmsc.provider.PaymentProvider"
            android:authorities="com.koolcloud.sdk.fmsc.provider"></provider>
    </application>

</manifest>
